/* Base font */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Season Text Styles */
#season-title,
#season-subtitle,
#season-date {
  margin: 0;
  padding: 2px;
}

#season-title {
  font-size: 0.5rem;
  font-weight: 500;
}

#season-subtitle,
#season-date {
  font-size: 0.75rem;
}

.temperature-info {
  font-size: 0.5rem;
  font-weight: 400;
}

/* Layout */
#season-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.4rem;
  border-radius: 14px;
  background: rgba(255 255 255 / 83%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

#season-info,
#weather-forecast-container {
  flex: 1;
  max-width: 100%;
}

/* Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  display: none;
  background: #fff;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0.4rem;
  padding: 0.4rem;
  width: 13rem;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: pre-line;
  max-height: 8rem;
  overflow-y: auto;
  top: calc(100% + 28px);
  left: -1rem;
  transform: translateX(-70%);
}

.tooltip-container:hover .tooltip {
  display: block;
}

/* Icons */
#git-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

i#info-icon,
.fa-github {
  padding: 1px;
  margin: 1px;
  font-size: 1rem;
  color: black;
}

#weather-icon {
  height: 0.5rem;
}

/* Responsive */
@media only screen and (max-width: 580px) {
  #season-title {
    font-size: 1rem;
  }

  #season-subtitle,
  #season-date {
    font-size: 1rem;
  }

  .temperature-info {
    font-size: 1rem;
  }

  i#info-icon,
  .fa-github {
    font-size: 1rem;
  }

  .tooltip {
    width: 20rem;
    font-size: 1rem;
  }
}

@media (max-width: 50px) {
  #season-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .temperature-info {
    margin-top: 6px;
  }

  #weather-forecast-container {
    order: -1;
  }
}